<div class="login">
  <div class="container">
    <form>
      <h1>Login</h1>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="username">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>
    </form>
    <div class="google-login" >
      <button  mat-raised-button color="info" (click)="googleLogin()">
        <img src="/assets/images/icons/google.png">
        Sign in with Google</button>
    </div>
   
  </div>
</div>
