form {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;

    h1 {
        text-align: center;
    }
}

.google-login {
    margin-top: 24px;
    text-align: center;

    button {
        img {
            width: 40px;
        }
    }

}