/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'helvetica';
  background-color: #f5f5f5;
}

.full-with-dialog {
  position: relative;
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 0px 15px;
  position: relative;
}

